/* css para el logo superior izquierdo */
.logo-header{
    width: 15%;
    height: 8%; 
    border: 2px solid rgb(0, 0, 0);
    margin-top: 3.5%;
    margin-left: 1.5%;
}
/*termina css para el logo superior izquierdo */

/* css para el formulario de inicio de sesion */
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto;
    transform: translate(-50%, -50%);
  }


  .login-form h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
    font-weight: lighter;

  }

  .login-form p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkgray;
    margin-top:-20px;
    font-size: 12px;

  }



/* termina el  css para el formulario de inicio de sesion */
  
/* css para el formulario de registro nueva cuenta */
.new-account {
  position: relative;
  width: 80%;
  height: 400px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  margin: auto;
  margin-top: 50px;
  margin-left: 10%;
  margin-bottom: 20px;
}

.new-account h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: lighter;
}

.boton-send-signup {
  position: absolute;
  width: 15%;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px; /* Ajusta según sea necesario */
  text-align: center;
}

.boton-send-signup input {
  border-radius: 25px;
  height: 5%;
  width: 50%; /* Ajusta el ancho según tus necesidades */
  background-color: darkblue;
  color: aliceblue;
  font-size: 18px; /* Asegúrate de especificar la unidad para el tamaño de fuente */
}
  
  .form-newusr-aspect label{
    margin-left:7%
  }

  .form-newusr-aspect input{
    height:9%;
    width: 25%;
    margin-left: 7%;
  }
/* termina el  css para el formulario de registro nueva cuenta */
  


/* Configuracion para todos los forms */
.form-aspect input{
  width:70%;
  height: 10%;
}

.form-aspect label{
  font-size: 12px;
  text-align: left;
}

 .form-aspect .login-send{
  border-radius: 25px;
  width: 50%;
  background-color:darkblue;
  color:aliceblue;
}

.left-align{
  margin-left: -200px; /* Puedes ajustar el valor según sea necesario */
  color: #0097B2;
}

.left-align1{
  margin-left: -180px; /* Puedes ajustar el valor según sea necesario */
  color: #0097B2;
}

.left-align2{
  margin-left: 200px; /* Puedes ajustar el valor según sea necesario */
  color: #0097B2;
}


/*css de el login para cambiar contraseña */

.left-align4{
  margin-left: -150px; /* Puedes ajustar el valor según sea necesario */
  color: #0097B2;
}

.left-align5{
  margin-left: -130px; /* Puedes ajustar el valor según sea necesario */
  color: #0097B2;
}

.left-align2{
  margin-left: 200px; /* Puedes ajustar el valor según sea necesario */
  color: #0097B2;
}



/* termina la configuracion para todos los forms */

/* css para sidebar */
.sidebar {
  width: 16%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centramos horizontal y verticalmente */
}
.sidebar a {
    width: 100%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 6%;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding-left: 45px;
}

.sidebar a:hover{
  background-color: #ddd;
}
/* end css para sidebar */

/* css para el contenido */
.content {
  margin-left: 18%;
  margin-top: 0; /* Elimina el margen superior */
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black; /* Ajusta el ancho y el color del borde según tus preferencias */
  height: 99%;
  background: linear-gradient(to right, rgba(185, 181, 179, 1)  0%, #ffffff 10%);

}
/* end css para el contenido */

.Payments-details {
  width: 50%;
  height: 55%;
  border: 2px solid black;
  padding: 16px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/*lestras de formulario */

.big-space {
 margin-right: 220px; /* Ajusta el tamaño del espacio según tus necesidades */
}

.big-space1 {
  margin-right: 155px; /* Ajusta el tamaño del espacio según tus necesidades */
 }

 .big-space2 {
  margin-right: 190px; /* Ajusta el tamaño del espacio según tus necesidades */
 }

 /*lestras de formulario familiar*/

 .big-space3 {
  margin-right: 163px; /* Ajusta el tamaño del espacio según tus necesidades */
 }
 
 .big-space4 {
   margin-right: 103px; /* Ajusta el tamaño del espacio según tus necesidades */
  }
 
  .big-space5 {
   margin-right: 80px; /* Ajusta el tamaño del espacio según tus necesidades */
  }

  .big-space6 {
    margin-right: 180px; /* Ajusta el tamaño del espacio según tus necesidades */
   }

   .big-space7 {
    margin-right: 180px; /* Ajusta el tamaño del espacio según tus necesidades */
   }



.formalities-history {
  width: 50%;
  height: 55%;
  border: 2px solid black;
  padding: 16px;
  border-radius: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.table-formalities-history {
  width: 100%;
  height: 50%;
  border: 2px solid black;
  padding: 16px;
  margin: 10px;
  display: inline-block;
  border-radius: 50px;
}


.table-payment-details,
.history-payment-details {
  width: 100%;
  height: 50%;
  border: 2px solid black;
  padding: 16px;
  margin: 10px;
  display: inline-block;
}


/* css para el formulario de olvido la contrasena */
.recover-pass {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 25%;
  height: 35%;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 50px;
  margin: auto;
  transform: translate(-50%, -50%);
}
.recover-pass h2{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 28px;
  font-weight: lighter;
}

.resend-button{
  border-radius: 25px;
  background-color:darkblue;
  color: aliceblue;
  width: 100px;
  
}
/* termina el  css para el formulario de restablecer contrasena */


/*iconos menu principal*/
.main-menu{
  margin-top: 8%;
  width: 70%;
  height:60%;
}

.menus-icons{
  height: 50%;
  width:100%;

}

.dependecy{
  width: 30%;
  height:100%;
  border: 1px solid black;
  display:inline;
}
/*iconos menu principal*/