/* css para el logo superior izquierdo */
.logo-header{
    width: 10%;
    height: 10%; 
    border: 2px solid rgb(0, 0, 0);
}
/*termina css para el logo superior izquierdo */

/* css para el formulario de inicio de sesion */
.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 350px;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto;
    transform: translate(-50%, -50%);
  }


  .login-form h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 38px;
    font-weight: lighter;

  }

  .login-form p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:darkgray;
    margin-top:-20px;
    font-size: 12px;

  }



/* termina el  css para el formulario de inicio de sesion */
  
/* css para el formulario de registro nueva cuenta */
.new-account {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 400px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto;
    transform: translate(-50%, -50%);
  }

  .new-account h2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
    font-weight: lighter;

  }
  .boton-send-signup{
    margin-top:37%;
  }
  .boton-send-signup input{
    border-radius: 25px;
    width: 8%;
    height: 3.5%;
    background-color:darkblue;
    color:aliceblue;
  }
/* termina el  css para el formulario de registro nueva cuenta */
  
  
/* css para el formulario de registro nueva cuenta */
.recover-pass {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 25%;
    height: 35%;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 50px;
    margin: auto;
    transform: translate(-50%, -50%);
  }
/* termina el  css para el formulario de registro nueva cuenta */

/* Configuracion para todos los forms */
.form-aspect input{
  width:70%;
  height: 10%;
}

.form-aspect label{
  font-size: 12px;
  text-align: left;
}

 .form-aspect .login-send{
  border-radius: 25px;
  width: 50%;
  background-color:darkblue;
  color:aliceblue;
}

.left-align1{
  margin-left: -200px; /* Puedes ajustar el valor según sea necesario */
  color: #0097B2;
}

.left-align2{
  margin-left: -180px; /* Puedes ajustar el valor según sea necesario */
  color: #0097B2;
}

/* termina la configuracion para todos los forms */

/* css para sidebar */
.sidebar {
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  color: white;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Centramos horizontal y verticalmente */
}
.sidebar a {
    width: 90%;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 6%;
    display: block;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
/* end css para sidebar */

/* css para el contenido */
.content {
  margin-left: 15%;
  padding: 16px;
}
/* end css para el contenido */
